


body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}


html{
    scroll-behavior: smooth;
}
nav{
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #15273A;
    

}
.logo{
    color: rgb(236, 235, 235);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.nav-links{
    display: flex;
    width: 35%;
    justify-content: space-around;
}
.nav-links li{
    list-style: none; /*Remove bullet points*/
}
.nav-links a{
    color: rgb(236, 235, 235);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: rgb(236, 235, 235);
    margin: 5px;
    transition: all 0.3s ease;

}

@media screen and (max-width:1366px){
    .nav-links{
        width: 60%;
    }
}

@media screen and (max-width:768px){
    html, body {
        overflow-x: hidden;
      }
      body {
        position: relative
      }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 5vh;
        background-color: #15273A;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li{
        opacity: 0;
    }
    .burger{
        display: block;
    }
    

}

.nav-active{
    transform: translateX(0%);
}
@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}



a:hover{
    color: #F8E9A1; 
}









#header {
    font-size: 50px;
    text-transform: uppercase;
}
#text-content{
    font-size: 20px;
}





/*Banner Area */

.banner-area{
    background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Anton', sans-serif;
    font-size: 45px;
    letter-spacing: 0.1em;
    color: #ffffff;

}


 .social {
    color: #ffffff;
    letter-spacing: 0;
    margin: auto;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 500px;
  }

  .social__item {
    padding: 0%;
    margin: 0%;
    width: 150px;
    height: 40px;
    border-radius: 5%;
    border: 3px solid #ffffff;
    display: flex;
    justify-content: center;
    align-items:center;
    font-size: 25px;
    transition: all 0.3s;
    cursor: pointer;
  }
  
  .linkedin:hover {
    border-color: #00aced;
    box-shadow: 0px 0px 20px #00aced;
    color: #00aced;
  }
  
  .github:hover {
    border-color: #bc2a8d;
    box-shadow: 0px 0px 20px #bc2a8d;
    color: #bc2a8d;
  }

  .google:hover {
    border-color: #dd4b39;
    box-shadow: 0px 0px 20px #dd4b39;
    color: #dd4b39;
  }





/*About Area */

.about-area{
    
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    width: 50%;

}




/*Projects Area */


.projects-area{
    padding-top: 8vh;
    min-height: 100vh;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 50%;
}

.portfolio {
    display: grid; 
    grid-gap: 100px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

    
  }

  .card {
    width: 30vh;
    height: 50vh;
    position: relative;
    perspective: 1000px;

  }
  .front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
    backface-visibility: hidden;
    border-radius: 1%;
  } 

  .back {
    transform: rotateY(180deg);
  }
  .card:hover .front {transform: rotateY(180deg);}
  .card:hover .back {transform: rotateY(360deg);}



.card .back p{
    width: 80%;
}



#pj1 .front{
    background-image: url(images/sorting.jpg);
    background-size: cover;
    width: 100%;
    font-size: 15px;
    text-transform: uppercase;
    flex-direction: column;
    justify-content: start;
    color: white;
    border: 3px solid rgb(0, 0, 0);
    text-align:center;

    
    
}

#pj1 .back {
    margin: 0;
    padding: 0;
    flex-direction: column;
    border: 3px solid rgb(0, 0, 0);
    text-align:center;

}


#pj2 .front{
    background-image: url(images/flappyneon.jpg);
    background-size: cover;
    width: 100%;
    font-size: 15px;
    text-transform: uppercase;
    flex-direction: column;
    justify-content: start;
    border: 3px solid rgb(0, 0, 0);
    color: white;
}

#pj2 .back {
    margin: 0;
    padding: 0;
    flex-direction: column;
    border: 3px solid rgb(0, 0, 0);
}




#pj3 .front{
    background-image: url(images/math.jpg); 
    background-size: cover;
    width: 100%;
    font-size: 15px;
    text-transform: uppercase;
    flex-direction: column;
    justify-content: start;
    border-color: silver;
    border: 3px solid rgb(0, 0, 0);
    
    color: white;
    
}

#pj3 .back {
    margin: 0;
    padding: 0;
    flex-direction: column;
    border: 3px solid rgb(0, 0, 0);
   
}



.buttonpj{
    width: 100px;
    text-align:center;
    cursor: pointer;
    position: relative;
    display: inline-block;
    text-decoration: none;
    background-color: coral;
   
    color: #fff;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 1%;
    overflow: hidden;
  }
  .buttonpj:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 1.5em;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    transform: translateX(-4em) skewX(-45deg);
  }
  .buttonpj:hover:before {
    animation: move-light 0.5s;
  }

  @keyframes move-light {
    from {
      transform: translateX(-4em) skewX(-45deg);
    }
    to {
      transform: translateX(10em) skewX(-45deg);
    }
  }
  




/*Skills Area */


.skills-area{
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 90%;

}














/* Contact us Area */

.contact-area{
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
    width: 70%;

}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}











/* Footer Area */


  
  .footer-distributed {
    background-color: #15273A;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font:  14px;
    padding: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  
  .footer-distributed .footer-left p {
    color: #8f9296;
    font-size: 14px;
    margin: 0;
  }
  /* Footer links */
  
  .footer-distributed p.footer-links {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    margin: 0 0 10px;
    padding: 0;
    transition: ease .25s;
  }
  
  .footer-distributed p.footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
    transition: ease .25s;
  }
  
  .footer-distributed .footer-links a:before {
    content: "·";
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
  }
  
  .footer-distributed .footer-links .link-1:before {
    content: none;
  }
  
  .footer-distributed .footer-right {
    float: right;
    margin-top: 6px;
    max-width: 180px;
  }
  
  .footer-distributed .footer-right a {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color: #15273A;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-left: 3px;
    transition:all .25s;
  }
  
  .footer-distributed .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}
  
  .footer-distributed p.footer-links a:hover{text-decoration:underline;}
  
  /* Media Queries */
  
  @media (max-width: 600px) {
    .footer-distributed .footer-left, .footer-distributed .footer-right {
      text-align: center;
    }
    .footer-distributed .footer-right {
      float: none;
      margin: 0 auto 20px;
    }
    .footer-distributed .footer-left p.footer-links {
      line-height: 1.8;
    }
  }






@media screen and (max-width:768px){

  .about-area, .projects-area, .skills-area, .contact-area{  width: 90%;
  }
    .banner-area h1{
        text-align: center;
    }
    .social__item{
        width: 100px;
        height: 40px;
        font-size: 20px;
    }
    .social{
        display: flex;
        color: #ffffff;
        letter-spacing: 0;
        margin: auto;
        list-style: none;
        padding: 0;
        justify-content: space-between;
        width: 350px;
    }

  
    .projects-area{
        height: 100%;
    }
    .card {
        width: 30vh;
        height: 50vh;
        position: relative;
        perspective: 1000px;
    
      }
  
    @keyframes move-light {
        from {
          transform: translateX(-2em) skewX(-45deg);
        }
        to {
          transform: translateX(15em) skewX(-45deg);
        }
      }

      
 
}





@media screen and (max-width:451px){

  .about-area, .projects-area, .skills-area, .contact-area{  width: 90%;    text-align: center;

  }
  .banner-area h1{
      text-align: center;
  }
  .social__item{
      width: 70px;
      height: 30px;
      font-size: 15px;
      
  }
  .social{
      display: flex;
      color: #ffffff;
      letter-spacing: 0;
      margin: auto;
      list-style: none;
      padding: 0;
      justify-content: space-between;
      width: 250px;
  }


  .projects-area{
      height: 100%;
  }
  .card {
      width: 30vh;
      height: 50vh;
      position: relative;
      perspective: 1000px;
  
    }

  @keyframes move-light {
      from {
        transform: translateX(-2em) skewX(-45deg);
      }
      to {
        transform: translateX(15em) skewX(-45deg);
      }
    }

    

}