


body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    


}


html{
    scroll-behavior: smooth;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: rgb(34, 34, 34);
    

}
.logo{
    
    color: rgb(236, 235, 235);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.nav-links{
    display: flex;
    width: 30%;
    justify-content: space-around;
}
.nav-links li{
    list-style: none; /*Remove bullet points*/
}
.nav-links a{
    color: rgb(236, 235, 235);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: rgb(236, 235, 235);
    margin: 5px;
    transition: all 0.3s ease;

}

@media screen and (max-width:1024px){
    .nav-links{
        width: 60%;
    }
}

@media screen and (max-width:768px){
    body{
       overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: rgb(34, 34, 34);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li{
        opacity: 0;
    }
    .burger{
        display: block;
    }
}

.nav-active{
    transform: translateX(0%);
}
@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}



a:hover{
    color: rgb(255, 238, 0); 
}





















.about-area, .projects-area, .work-area, .contact-area, .skills-area{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

#about{
    height: 100vh;
}


#header {
    font-size: 75px;
}
#text-content{
    font-size: 25px;
    font-family: 'Roboto Mono';
}

.text-part{
    width: 65%;
    height: 80%;

}

  

.banner-area{

    position: flex;
    width: 100%;
    height: 93vh;
    display: flex;
    justify-content: space-around;
    align-items: center;  
}


#bgarea{
    height: 50vh;
    

}
.banner-area h1{
    
    font-size: 50px;
    position: relative;
    display: flex;
}


.container {
    display: flex;

  }

  .social {
   
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 400px;
  }

  .social__item {
    
    width: 40px;
    height: 40px;
    border-radius: 30%;
    border: 3px solid rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    transition: all 0.3s;
    cursor: pointer;
  }
  
  .linkedin:hover {
    border-color: #00aced;
    box-shadow: 0px 0px 20px #00aced;
    color: #00aced;
  }
  
  .github:hover {
    border-color: #bc2a8d;
    box-shadow: 0px 0px 20px #bc2a8d;
    color: #bc2a8d;
  }

  .google:hover {
    border-color: #dd4b39;
    box-shadow: 0px 0px 20px #dd4b39;
    color: #dd4b39;
  }









.portfolio {
    display: grid; 
    grid-gap: 145px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    
  }

  .card {
    width: 350px;
    height: 400px;
    position: relative;
    perspective: 1000px;

  }
  .front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
    backface-visibility: hidden;
    border-radius: 10%;
  } 

  .back {
    transform: rotateY(180deg);
  }
  .card:hover .front {transform: rotateY(180deg);}
  .card:hover .back {transform: rotateY(360deg);}



#pj1 .front{
    background-image: url(images/sorting.jpg);
    background-size: cover;
    width: 100%;
    font-size: 20px;
    flex-direction: column;
    justify-content: start;
    color: white;
    border: 3px solid rgb(0, 0, 0);
    text-align:center;

    
    
}

#pj1 .back {
    margin: 0;
    padding: 0;
    flex-direction: column;
    border: 3px solid rgb(0, 0, 0);
    
}

#pj1 .back p{
    width: 80%;
    text-align:center;
    font-family: 'Roboto Mono';
}


 
#pj1 .back h1{
    
    text-align:center;
    
}





#pj2 .front{
    background-image: url(images/flappyneon.jpg);
    background-size: cover;
    width: 100%;
    font-size: 20px;  
    flex-direction: column;
    justify-content: start;
    border: 3px solid rgb(0, 0, 0);
    color: white;
}

#pj2 .back {
    margin: 0;
    padding: 0;
    flex-direction: column;
   
    border: 3px solid rgb(0, 0, 0);
}

#pj2 .back p{
    width: 80%;
    text-align:center;
    margin: 30px;
    font-family: 'Roboto Mono';

}

#pj2 .back h1{
   
    margin: 0;
}


#pj3 .front{
    background-image: url(images/math.jpg); 
    background-size: cover;
    width: 100%;
    font-size: 20px;  
    flex-direction: column;
    justify-content: start;
    border-color: silver;
    border: 3px solid rgb(0, 0, 0);
    
    color: white;
    
}
#pj3 .front h1{
    text-align: center;
}
#pj3 .back {
    margin: 0;
    padding: 0;
    flex-direction: column;
    border: 3px solid rgb(0, 0, 0);
   
}

#pj3 .back p{
    width: 80%;
    text-align:center;
    margin: 30px;
    font-family: 'Roboto Mono';

}






.buttonpj{
    width: 100px;
    text-align:center;
    cursor: pointer;
    position: relative;
    display: inline-block;
    text-decoration: none;
    background-color: coral;
   
    color: #fff;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    overflow: hidden;
  }
  .buttonpj:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 1.5em;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    transform: translateX(-4em) skewX(-45deg);
  }
  .buttonpj:hover:before {
    animation: move-light 0.5s;
  }
  
  @keyframes move-light {
    from {
      transform: translateX(-4em) skewX(-45deg);
    }
    to {
      transform: translateX(10em) skewX(-45deg);
    }
  }
  




.contact-area{
    height: 100vh;
    flex-direction: row;
}







